<footer class="footer">
  <small>
    <strong><a href="https://dhruvhanda-todoapp.herokuapp.com/">Check Out This Site</a></strong>
    by <em><a href="https://dhruvhanda-todoapp.herokuapp.com/">Dhruv Handa</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>